<aside>
  <p class="intro">{{ site.subtitle }}</p>
  <nav id="main-nav" class="main-nav" role="navigation">
      <ul>
        {% for link in site.mainnav %}
          {% if link.internal == true %}
            <li{% if link.text == page.category %} class="main-nav-active"{% endif %}><a href="{{ site.baseurl }}/{{ link.url }}">{{ link.text }}</a></li>
          {% else %}
            <li{% if link.text == page.category %} class="main-nav-active"{% endif %}><a href="{{ link.url }}">{{ link.text }}</a></li>
          {% endif %}
        {% endfor %}
      </ul>
    </nav>
</aside>