/*
Main.css
==================================
Begin with generic 'mobile first' styles
*/

/*
Normalize the box model
==================================
*/

*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
 }

/*
Typography
==================================
*/

body {
    font-family: Arial, sans-serif;
    font-weight: 400;
    font-style: normal;
    line-height: 1.466666667;
}

h1,
h3,
h4,
h5,
strong {
    font-family: "Avenir Next Demi", "Avenir Next", Arial, sans-serif;
    font-weight: 600;
}

h1 {
    font-size: 1.25em;
    color: #75787B;
    margin: 0;
    line-height: 54px;
    display: inline-block;
    float: left;
}

h2 {
    font-weight: 400;
    font-style: normal;
    font-size: 1.375em;
    margin: 1.4em 0 0 0;
}

h4 {
    font-size: 1em;
    text-transform: uppercase;
}

p,
li {
    font-size: .9375em;
}

.page-title {
    margin-top: .727272727em; /* 16/22 */
}

/*
Lists
--------------------------------
*/

.main-content ul {
    padding-left: 1.1em;
}

.main-content li {
    margin-bottom: 1em;
}

li h3,
li h4 {
    margin: 0;
}

li p {
    margin-top: 0;
}

/*
Links
==================================
*/

a {
    -webkit-transition: .2s;
       -moz-transition: .2s;
            transition: .2s;
}

a,
a:link,
a:visited {
    color: #0072ce;
    border-bottom: 1px dotted #0072ce;
    text-decoration: none; 
}

a:hover {
    border-bottom: 1px solid #7eb8dd; 
    color: #7eb8dd; 
    text-decoration: none;
}

a:active {
    border-bottom: 1px solid #002d72; 
    color: #002d72; 
    text-decoration: none;
}

a:focus {
    border-bottom: 1px solid #0072ce; 
    color: #0072ce; 
    outline: thin dotted; 
    text-decoration: none;
}

a.title-link {
    color: #75787B;
    border-bottom: none;
}

a.title-link:hover,
a.title-link:active,
a.title-link:focus {
    color: #7eb8dd;
    border-bottom: none;
}

a.skip-link {
    color: #0072ce;
    border-bottom: none;
    padding: .25em;
}

a.skip-link:hover,
a.skip-link:active,
a.skip-link:focus {
    background-color: #0072ce;
    color: #fff;
    border-bottom: none;
}


/*
Navigation
==================================
*/

 .panel {
    position: fixed;
    left: -15.625em; /*right or left and the width of your navigation panel*/
    width: 15.625em; /*should match the above value*/
}

 nav a {
    display: block;
    padding: .5em 0;
    -webkit-transition: .4s;
       -moz-transition: .4s;
            transition: .4s;
}

nav a,
nav a:link,
nav a:visited {
    border-bottom: none;
}

nav ul {
    margin: 0;
    padding: 0;
    border-top: 1px solid #CDE3F1;
}

nav li {
    list-style: none;
    border-bottom: 1px solid #CDE3F1;
}


/*
Layout
==================================
*/

/* offset the fixed position header for jump links */
section:before {
    display: block; 
    content: ""; 
    height: 60px; 
    margin: -60px 0 0; 
}

.wrap {
    max-width: 960px;
    margin: 0 auto;
    padding: 0 20px;
    position: relative;
}

header {
    width: 100%;
    border-top: 4px solid #2CB34A;
    border-bottom: 1px solid #BABBBD;
    background-color: #fff;
    position: fixed;
    top: 0;
    z-index: 99999;
    height: 3.625em;
}

.content {
    margin-top: 80px;
}


/*
Helpers
==================================
*/

/* Hide from both screenreaders and browsers: h5bp.com/u */
.hidden {
    display: none !important;
    visibility: hidden;
}

/* Hide only visually, but have it available for screenreaders: h5bp.com/v */
.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/* Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p */
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/* Hide visually and from screenreaders, but maintain layout */
.invisible {
    visibility: hidden;
}


/*
Style
==================================
*/

.intro {
    color: #75787B;
}

.logo {
    width: 150px;
    margin-top: .75em; /*this is a pretty hacky job of vertically centering the logo */
    padding-right: 20px;
    float: right;
}

footer {
    font-size: 0.75em;
    color: #75787B;
}

li h4 {
    margin: 0;
}

.license {
    font-family: "Avenir Next Demi", Arial, sans-serif;
    font-weight: normal;
    font-style: normal; 
}

.highlight {
    max-width: 100%;
    font-size: 0.875em;
    overflow-y: scroll;
    background-color: #E7E7E6;
    padding: 0 10px;
}

/*
Helper Classes
==================================
*/

/*
Clearfix list
----------------------------------
*/

.cf:before,
.cf:after {
    content: " ";
    display: table;
}

.cf:after {
    clear: both;
}

.cf {
    *zoom: 1;
}

/*
Desktop Styles
==================================
*/

@media screen and (min-width: 60em) and (min-height: 32.5em) {

    /*
    Layout
    ==============================
    */

    .logo {
        float: right;
    }

    aside {
        position: fixed;
        top: 82px;
        height: 100%;
        margin: 0 0 0 65%;
    }

    footer {
        position: fixed;
        width: 235px;
        bottom: 20px;
        margin: 0 0 0 65%;
    }

    .main-content {
        width: 67%;
        margin-bottom: 120px;
    }
}

@media screen and (min-width: 70em) and (min-height: 32.5em) {

    /*
    Layout
    ==============================
    */

    aside,
    footer {
        margin: 0 0 0 55%;
    }
}

@media screen and (min-width: 80em) and (min-height: 32.5em) {

    /*
    Layout
    ==============================
    */

    aside,
    footer {
        margin: 0 0 0 45%;
    }
}

/*
Mobile Styles
==================================
*/

@media screen and (max-width: 40.5em) {

    .main-content {
        margin-top: 1.5em;
    }

}